*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width:100%;
    background:rgb(5, 5, 5);
    padding:25px 0px;
}
nav{
    width:80%;
    margin:0 auto;
}

.navLeft,.navRight{
    display:inline-block;
}
.navLeft{
   
}
.navRight{
    margin-right:0px;
    float:right;
    margin:10px 0;

}
li{
    display:inline-block;
    font-size:18px;
    margin:0 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li a{
    color:#878282;
    text-decoration:none;
}
/* Navigation End**********************************************************************************************/

/* banner START****************************************************************************************************/
.banner{
    background-image:url(../images/bg_header.jpg);
    background-repeat: no-repeat;
    width:100%;
    min-height:520px;
    background-size: cover;
    padding-top:260px;
    text-align: center;
}
.banner h1{
    font-size:40px;
   color:white;
    font-weight: 300;
    padding-bottom: 10px;
}
.banner p{
    font-weight: 100;
    color:rgb(228, 220, 220);
    padding-bottom: 10px;
}
button{
    padding:12px 50px;
    background:transparent;
    outline: none;
    border:2px solid #928f8f;
    color:#928f8f;
    transition: all .3s;
    font-size:17px;
    margin: 10px ;
}
button:hover{
    color: white;
    border-color:white;
}
 #download-btn{
    background:rgb(255, 166, 0);
    outline:none;
    border: none;
    color:white;
}
.desctiption{
    text-align: center;
    
    color:#272727
}
.desctiption p{
    font-size:15px;
}

/*banner END***************************************************************************************************/
/*highlight start***************************************************************************************************/
.flexible{
    display: flex;
    justify-content: space-around;
}
section {
    padding:5% 10%;
}
.highlight-section {
    text-align: center;
    background-color: rgb(237, 241, 243);
}
.highlight-section h1{
    padding-bottom:150px;
    font-size:30px;
}
.highlight-item {
    border-radius: 10px;
    text-align: center;
    width:30%;
    margin: 0 15px;
    padding:10px;
    box-shadow: 10px 10px 40px grey;

}
.highlight-item i{
    font-size:40px;
    padding:16px 0;
    color:tomato;
}
.highlight-item h3{
    padding:20px 0px;
}
.highlight-item p{
    
}
/*Highlight END***************************************************************************************************/
.question h1{
   text-align: center;
   padding-bottom: 100px;
}
.frist-row{
    padding-bottom:80px;
}  
.question-item{
    width:45%;
}
.question-item p{
    font-size: 15px;
}
.question-item h2{
    font-weight: 300px;
}
.samary P{
    font-size:18px;
}
#learn-btn{
    margin-right: 0;
    background-color: tomato;
    color:white;
    border:none;
    position: absolute;
    right:40px;
}
.samary-content{
    width:90%;
    background:rgb(232, 232, 233);
    padding:80px;
    position: relative;
}
footer{
    background-color:rgb(27, 27, 27);
    color:rgb(180, 178, 178);
    padding:5% 10%;
    
}
.footer-left{
    width:48%;
    display: flex;
    justify-content: space-around;
}
.footer-left p,.text-box p {
    font-size:13px;
}
.footer-left h3,.text-box h3{
    padding-bottom:20px;
}
.text-box{
    width:48%;
}
.footer-left .fa{
    font-size:20px;
    margin:0 5px;
}
.copyright{
    background:black;
    color: gray;
    text-align: center;
    padding:5px 0px;
    font-size:14px;
}